
.vs/DEMO.ABC/config/applicationhost.config
.vs/DEMO.ABC/v16/.suo
Demo.EntityFramework/bin/Debug/net5.0/Demo.EntityFramework.dll
Demo.EntityFramework/bin/Debug/net5.0/Demo.EntityFramework.pdb
Demo.EntityFramework/bin/Debug/net5.0/Demo.EntityFramework.runtimeconfig.dev.json
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.assets.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.csproj.AssemblyReference.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.csproj.CoreCompileInputs.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.csproj.FileListAbsolute.txt
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.dll
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.GeneratedMSBuildEditorConfig.editorconfig
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.genruntimeconfig.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.pdb
Demo.EntityFramework/obj/Demo.EntityFramework.csproj.nuget.dgspec.json
Demo.EntityFramework/obj/Demo.EntityFramework.csproj.nuget.g.props
Demo.EntityFramework/obj/Demo.EntityFramework.csproj.nuget.g.targets
Demo.EntityFramework/obj/project.assets.json
Demo.EntityFramework/obj/project.nuget.cache
Demo.EntityFramework/bin/Debug/net5.0/Demo.EntityFramework.dll
Demo.EntityFramework/bin/Debug/net5.0/Demo.EntityFramework.pdb
Demo.EntityFramework/bin/Debug/net5.0/Demo.EntityFramework.runtimeconfig.dev.json
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.assets.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.csproj.AssemblyReference.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.csproj.CoreCompileInputs.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.csproj.FileListAbsolute.txt
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.dll
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.GeneratedMSBuildEditorConfig.editorconfig
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.genruntimeconfig.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.pdb
Demo.EntityFramework/obj/Demo.EntityFramework.csproj.nuget.dgspec.json
Demo.EntityFramework/obj/Demo.EntityFramework.csproj.nuget.g.props
Demo.EntityFramework/obj/Demo.EntityFramework.csproj.nuget.g.targets
Demo.EntityFramework/obj/project.assets.json
Demo.EntityFramework/obj/project.nuget.cache
Demo.EntityFramework/bin/Debug/net5.0/Demo.EntityFramework.dll
Demo.EntityFramework/bin/Debug/net5.0/Demo.EntityFramework.pdb
Demo.EntityFramework/bin/Debug/net5.0/Demo.EntityFramework.runtimeconfig.dev.json
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.assets.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.csproj.AssemblyReference.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.csproj.CoreCompileInputs.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.csproj.FileListAbsolute.txt
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.dll
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.GeneratedMSBuildEditorConfig.editorconfig
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.genruntimeconfig.cache
Demo.EntityFramework/obj/Debug/net5.0/Demo.EntityFramework.pdb
Demo.EntityFramework/obj/Demo.EntityFramework.csproj.nuget.dgspec.json
Demo.EntityFramework/obj/Demo.EntityFramework.csproj.nuget.g.props
Demo.EntityFramework/obj/Demo.EntityFramework.csproj.nuget.g.targets
Demo.EntityFramework/obj/project.assets.json
Demo.EntityFramework/obj/project.nuget.cache
*.dll
Demo.UnitOfWork/obj/project.nuget.cache
Demo.UnitOfWork/obj/project.assets.json
*.targets
*.dll
*.CopyComplete
*.cache
*.txt
*.dll
Demo.EntityFramework/obj/project.assets.json
