
<form autocomplete="off" class="login-form" style="margin-top: 250px;" [formGroup]="loginForm" novalidate (ngSubmit)="login()">

    <h3 class="text-center" style="color: #73baed;">Đăng nhập</h3>

    <div class="form-group" [ngClass]="{'has-error': loginForm.get('userName').errors && loginForm.dirty  }" style="margin-top: 20px !important; margin-bottom: 5px !important;">
        <label class="bold">Tài khoản</label>
        <input type="text" class="form-control" placeholder="Nhập tài khoản" autocomplete="off" name="userName" formControlName="userName">
    </div>
    <div ngxErrors="userName" class="has-danger">
        <small class="form-text text-danger" ngxError="required" [when]="['dirty', 'touched']">
            Tài khoản không bỏ trống
        </small>
        <small class="form-text text-danger" ngxError="maxlength" [when]="['dirty', 'touched']">
            Số ký tự tối đa 255
        </small>
    </div>

    <div class="form-group"  [ngClass]="{'has-error': loginForm.get('password').errors && loginForm.dirty  }" style="margin-top: 20px !important; margin-bottom: 5px !important;">
        <label class="bold">Mật khẩu</label>
        <input type="password" class="form-control" placeholder="Nhập mật khẩu" autocomplete="off" name="password" formControlName="password">
    </div>
    <div ngxErrors="password" class="has-danger">
        <small class="form-text text-danger" ngxError="required" [when]="['dirty', 'touched']">
            Mật khẩu không bỏ trống
        </small>
        <small class="form-text text-danger" ngxError="maxlength" [when]="['dirty', 'touched']">
            Số ký tự tối đa 32
        </small>
    </div>

    <div class="text-center" style="margin-top: 10px">
        <button type="submit" class="btn btn-success btn-square btn-sm" [disabled]="loginForm.invalid">Đăng nhập</button>
    </div>

</form>
